@import 'helpers'

form#chatbox
  border-left 1px solid #ccc
  text-align left
  padding 50px 15px
  round 5px
  position fixed; top 0; right 0
  width 20%; height 100%
  h3
    margin 0
    font-size 1.0em
    font-weight normal
  h5
    margin 0
    padding 5px 0
    color #666
    font-weight normal
    font-size 0.8em
  #myMessage, #chatlog
    border none
    box-shadow inset 0 0 2px #777
    round 5px
  #myMessage
    width 100%
    padding 5px
    margin 10px 0
  #chatlog
    width 100%
    background-color white
    margin 5px 0
    p
      font-size 0.9em
      color #000a68
      padding 3px 9px
      margin 0
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
