!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Snake MMO
  body
    #content-wrap
      #content
        h1 The Snakes are Back... And they're Not on Planes

    form#chatbox(onsubmit='return false')
      h3 Chat
      input(id='myMessage', type='text', autocomplete='off')
      #chatlog
